.home h2 {
  font-size: 1.2em;
}

.ha-office .ha-label {
  display: block;
  font-weight: bold;
}




element.style {
    background-image: url(http://travel.gc.ca/vt/custom/images/flags/48/PA.png);
}
h1.tr-title {
    background: no-repeat transparent;
    padding: 6px 0 6px 61px;
}


/* start custom breadcrumb  */


@media screen and (max-width: 737px) {
#wb-bc li:before {
		color: #333;
		content: "<"!important;
		font-size: 1.5em;
}

.gcweb-v2~#wb-bc ol {

  margin-top: 5px !important;
}

}
@media screen and (min-width: 737px) {
.no-break-breadcrumb {
	display: inline-block!important;
}


}

/* Travel advice index page */

table tr.risk4 {
  background-color:"red";
}

.callout {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 10px #ddd;
}
