
/* custom checkboxes */

/* for checks, container */
.container-checks {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 19px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide default checkbox */
.container-checks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*  custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border: 1px solid #333;
}

/* mouse-over, grey */
.container-checks:hover input ~ .checkmark {
  background-color: #ccc;
}


.container-checks input:checked ~ .checkmark {
  background-color: #318000;
}

/* create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the checkmark when checked */
.container-checks input:checked ~ .checkmark:after {
  display: block;
}

/* style the checkmark/indicator */
.container-checks .checkmark:after {
  left: 14px;
  top: 5px;
  width: 10px;
  height: 22px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.home h2 {
  font-size: 1.2em;
}

.ha-office .ha-label {
  display: block;
  font-weight: bold;
}

/* go button style */

#btnGoToCountry{
  padding: 6px 10px;
}


element.style {
    background-image: url(http://travel.gc.ca/vt/custom/images/flags/48/PA.png);
}
h1.tr-title {
    background: no-repeat transparent;
    padding: 6px 0 6px 61px;
}


/* start custom breadcrumb  */


@media screen and (max-width: 737px) {
#wb-bc li:before {
		color: #333;
		content: "<"!important;
		font-size: 1.5em;
}

.gcweb-v2~#wb-bc ol {

  margin-top: 5px !important;
}

}
@media screen and (min-width: 737px) {
.no-break-breadcrumb {
	display: inline-block!important;
}


}

/* Travel advice index page */

table tr.risk4 {
  background-color:"red";
}

.callout {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 10px #ddd;
}

p.small, ul.small {
  line-height:1.35em;
}

.btn-login {

background-color: #26374a !important;
border: 1px solid #26374a !important;

/* background-color: #904114 !important; */
/* border: 1px solid #7D3912 !important; */

/*	background-color: #318000 !important; */
/*	border: 1px solid #455E82 !important; */
	font-weight: 600 !important;
	font-family: "Lato";
  font-size: 17px !important;
	padding-top: 7px;
	padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
	margin-top: 3px;

}
