.home h2 {
  font-size: 1.2em;
}

.ha-office .ha-label {
  display: block;
  font-weight: bold;
}



element.style {
    background-image: url(http://travel.gc.ca/vt/custom/images/flags/48/PA.png);
}
h1.tr-title {
    background: no-repeat transparent;
    padding: 6px 0 0 61px;
}
